#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Milsymbol icon styling */
.milsymbol-icon {
  background: transparent !important;
  border: none !important;
}

.milsymbol-icon svg {
  display: block;
  margin: auto;
}
